html, body{
  position: relative;
  height: 100%;
  background: black;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  min-height: 768px;
  color: white;
}

a {
  color: #00B7FF;
}
canvas {
  display: block;
}

.man {
  position: absolute;
  color: white;
}
canvas {display: block}
audio {display: none}
.selected {
  text-shadow: yellow 0em 0em 0.5em;
}
.users {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Chewy', cursive;
}

.users tr {
  cursor: default;
}

.users tr:hover td{
  background-color: rgba(255,255,255,0.05);
}

.users tr.me:hover td{
  background-color: rgba(255,255,255,0.0);
}

table, th, td
{
  border-collapse:collapse;
  border-spacing: 0px;
  border:0px solid black;
  color: white;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

table, td {
  width: 10%;
}

#lobby table {
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #0a0a0a;
  width: 100%;
}

#lobby .slice3 table {
  background: #220;
}

#lobby td, #lobby th {
  padding: 0 10px;
}
th {
  font-weight: bold;
}

.selected td {
  color: #ffa;
}

tr.me td{
  color: #f77;
}

tr.me:hover td{
  color: #f77;
}

tr.me td.select span:before {
  content: "<< You";
  color: white;
}

tr.selected td.select span:before {
  content: "\2714"
}

.name {

}

.score {

}

#lobby {
  font-size: 18px;
}

#challenge {

}

.slice {
  width: 960px;
  margin: 0px auto;
}

.slice2 {
  
}

#lobby table {
  display: block;
  padding: 20px;
  margin: 0px auto 20px;
  max-height: 300px;
}

.clear {
  clear: both;
}

#header {
  position: relative;
}

#social {
  padding: 20px 0px 10px;
  float: right;
}

#logo {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
  position: relative;
  top: -3px;
}

#logo span:nth-child(1) { color:#ef0000; }
#logo span:nth-child(2) { color:#fca710; }
#logo span:nth-child(3) { color:#f3ff00; }
#logo span:nth-child(4) { color:#58ff00; }
#logo span:nth-child(5) { color:#2cfff9; }
#logo span:nth-child(6) { color:#1a82ff; }
#logo span:nth-child(7) { color:#8131ff; }
#logo span:nth-child(8) { color:#d115ff; }
#logo span:nth-child(9) { color:#e30c3a; }

#kraya {
  display: block;
  float: right;
  clear: right;
}

#minheight {
  min-height: 500px;
}

#footer {
  color: white;
  background: url(/images/footer.png) no-repeat 50% 100%;
  width: 100%;
  height: 167px;
  position: absolute;
  bottom: 0px;
}

.credit {
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
  width: 50%;
  float: left;
  text-align: center;
}

.credit .job {
  color: #777;
}

.credit .person {
  font-size: 20px;
  color: #fff;
}

button {
  font-family: 'Homenaje', sans-serif;
  background: #58ff00;
  border-radius: 5px;
  height: 31px;
  color: white;
  border: 0 solid black;
  padding: 2px 10px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background: #aaff00;
}

button[disabled] {
  background: rgba(88,255,0,.3);
  color: rgba(255,255,255,.3);
}

input[type=text] {
  border: 0px solid;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: inherit;
  font-weight: bold;
  padding: 2px 5px;
  width: 6em;
  line-height: 27px;
  height: 27px;
}

.smoke {
  color: black;
}
#game canvas {
  margin: 30px auto;
}
#challenge td {
  color:#fca710;
}
#challenge .accepted td{
  color: #58ff00;
}

#screen {

}
