html, body{
  position: relative;
  height: 100%;
  background: black;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  min-height: 768px;
  color: white;
}

a {
  color: #00B7FF;
}
canvas {
  display: block;
}

.man {
  position: absolute;
  color: white;
}
canvas {display: block}
audio {display: none}
.selected {
  text-shadow: yellow 0em 0em 0.5em;
}
.users {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Chewy', cursive;
}

.users tr {
  cursor: default;
}

.slice2 .users tr:hover td{
  background-color: rgba(255,255,255,0.05);
}

.users tr.me td, .users tr.me:hover td{
  background-color: rgba(255,255,0,0.05);
}

.users tr td {
  transition: background .3s;
  -moz-transition: background .3s; /* Firefox 4 */
  -webkit-transition: background .3s; /* Safari and Chrome */
  -o-transition: background .3s; /* Opera */
  -ms-transition: background .3s; /* Opera */
}

table, th, td
{
  border-collapse:collapse;
  border-spacing: 0px;
  border:0px solid black;
  color: white;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

table, td {
  width: 10%;
}

#lobby table {
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #0c0c0c;
  width: 100%;
}

#color-wrapper {
  background-color: #0c0c0c;
  padding: 10px 20px;
  width: 362px;
}

#lobby .slice3 table {
  background: #0a0a00;
}

#lobby td, #lobby th {
  padding: 3px 20px;
}

th {
  font-weight: bold;
}

.selected td {
  color: #ffa;
}

tr.me td{
  color: #f77;
}

tr.me:hover td{
  color: #f77;
}

tr.me td.select span:before {
  content: "<< You";
  color: white;
}

tr.selected td.select span:before {
  content: "\2714"
}

.name {

}

.score {

}

#lobby {
  font-size: 18px;
}

#challenge {

}

.slice {
  width: 800px;
  margin: 0px auto;
}

.slice2 {
  
}

#lobby table {
  display: block;
  padding: 6px 0px 0px;
  margin: 0px auto 20px;
  max-height: 300px;
}

.clear {
  clear: both;
}

#header {
  position: relative;
}

#social {
  padding: 30px 0px 10px;
  float: right;
}

#logo {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
  position: relative;
  left: -20px;
  top: -3px;
  padding-top: 20px;
}

#logo span:nth-child(1) { color:#ef0000; }
#logo span:nth-child(2) { color:#fca710; }
#logo span:nth-child(3) { color:#f3ff00; }
#logo span:nth-child(4) { color:#58ff00; }
#logo span:nth-child(5) { color:#2cfff9; }
#logo span:nth-child(6) { color:#1a82ff; }
#logo span:nth-child(7) { color:#8131ff; }
#logo span:nth-child(8) { color:#d115ff; }
#logo span:nth-child(9) { color:#e30c3a; }

#kraya {
  display: block;
  float: right;
  clear: right;
}

#minheight {
  min-height: 500px;
}

#footer {
  color: white;
  background: url(/images/footer.png) no-repeat 50% 100%;
  width: 100%;
  height: 167px;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

#footer .middle {
  display: inline-block;
}
.credit {
  padding: 50px 50px 0;
  font-family: 'Quicksand', sans-serif;
  float: left;
  text-align: left;
}

.credit .job {
  color: #777;
}

.credit .person {
  font-size: 22px;
  color: #fff;
}

button {
  font-family: 'Homenaje', sans-serif;
  background: #48dd00;#58ee00;
  border-radius: 5px;
  height: 31px;
  color: white;
  border: 0 solid black;
  padding: 2px 10px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

button:hover {
  background: #58ee00;
}

button[disabled] {
  background: rgba(88,255,0,.3);
  color: rgba(255,255,255,.3);
}

input[type=text] {
  border: 0px solid;
  gborder-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: inherit;
  font-weight: normal;
  padding: 2px 20px;
  width: 160px;
  line-height: 27px;
  height: 27px;
  background: #0c0c0c;
  color: white;
}

.smoke {
  color: black;
}
#game canvas {
  margin: 30px auto;
}
#challenge td {
  color:#fca710;
}
#challenge .accepted td{
  color: #58ff00;
}

#color {
  position: relative;
  height: 10px;
  width: 360px;
  border: 1px solid black;
}

#color div{
  height: 10px;
  width: 1px;
  float: left;
  background: white;
  position: relative;
}

#color div.selected{
  border-radius: 10px 10px 10px 10px; 
  border: 2px solid black;
  z-index: 1;
  width: 7px;
  height: 18px;
  margin: -6px -5px;
}

label {
  display: block;
  margin-bottom: 0.6em;
  margin-top: 1em;
}



.front-page {
  min-height: 820px;
}

.front-page #footer {
  position: relative;
}

.front-page #logo {
  width: 50%;
}

#header a {
  color: white;
  text-decoration: none;
}


#play-login-wrapper {
  width: 800px;
  margin: 0px auto;
}

#login {
  font-size: 16px;
  font-size: 20px;
  font-family: Quicksand
}

#login select {
  font-size: 20px;
  font-family: Quicksand
}

.colf {
  float: left;
  width: 400px;
}

.middle {
  margin: 10px auto 0;
  display: block;
}
